<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4 product">
        <h2><%=link_to product.name, product %></h2>
        <%= image_tag(product.image_url, class: "img-fluid") unless product.image_url.nil? %>
        <dl><%= product.description %></dl>
        <dl>
          <strong>Year:</strong><%= product.year %></dl>
        <dl>
          <strong>price:</strong>$<%= product.price %></dl>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'New Product', new_product_path %>
