<div class="container">
<div class="row" data-product-id="<%= @product.id %>">
<% cache @product do %>
  <div class="col-sm-6 ">
    <div class="product-image">
      <%= image_tag(@product.image_url, class: "image-fluid img-thumbnail img-zoom", width: "350") %>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <strong>Name: </strong> <%= @product.name %>
    </div>
    <div>
      <strong>Price: </strong> <%= number_to_currency(@product.price, :unit => "$") %>
    </div>
    <div>
      <strong>Description: </strong><%= @product.description %>
    </div>

    <div>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
       <% end %>
    </div>

    <div>
      <p> Average Rating:
        <div class="rated" data-score=" <%= @product.average_rating %>"></div>
      </p>
    </div>
  <% end %>

    <div>
      <%= render "new_comment" %>
    </div>

    <div>
      <%= render 'comments' %>
      <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
    </div>
  </div><!-- end col class -->
</div>

<div class="product-buttons">
  <% if current_user %>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-dark"  %>
  <% end %>
  <%= link_to 'Back', products_path, class: "btn btn-dark"  %>
</div>
</div><!-- end container class -->
