<p id="notice"><%= notice %></p>

<div class="container-fluid product-section">

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <%= image_tag(@product.image_url, class: "img-responsive product-show") %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Average Rating:</strong>
    <div class="rated" data-score="<%= @product.average_rating %>"></div>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @product.year %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>

<div class="container-fluid comment-section">
  <p>
    <%= @product.highest_rating_comment %>
    <%= @product.lowest_rating_comment %>
    <%= render 'new_comment' %>
    <%= render 'comments' %>
  </p>
</div>
